/* This file is for visual reference of the colors in the colors.json */

/* DARK */

:root {
  --primary: #7fb0cf;
  --secondary: #d3ebff;
  --info: #3d9ff5;
  --warning: #f80;
  --success: #54b946;
  --error: #f65555;
  --redDark1: #d44337;
  --redDark2: #c13932;
  --redDark3: #ae302d;
  --redDark4: #9b2628;
  --redDark5: #881d23;
  --redDark6: #75141e;
  --yellowDark1: #d7b00e;
  --yellowDark2: #be9d0d;
  --yellowDark3: #a5890c;
  --yellowDark4: #8c760b;
  --yellowDark5: #73630a;
  --yellowDark6: #5a5009;
  --orangeDark1: #d98e11;
  --orangeDark2: #bf800f;
  --orangeDark3: #a5720e;
  --orangeDark4: #8c640d;
  --orangeDark5: #73560c;
  --orangeDark6: #59480b;
  --purpleDark1: #7b4590;
  --purpleDark2: #6e3c81;
  --purpleDark3: #613372;
  --purpleDark4: #542a63;
  --purpleDark5: #471f54;
  --purpleDark6: #3a1545;
  --greyDark1: #828688;
  --greyDark2: #747779;
  --greyDark3: #66686a;
  --greyDark4: #58595b;
  --greyDark5: #4a4a4c;
  --greyDark6: #3c3c3d;
  --blackDark1: #19252e;
  --blackDark2: #162229;
  --blackDark3: #131f24;
  --blackDark4: #101b1f;
  --blackDark5: #0e181a;
  --blackDark6: #0b1415;
  --whiteDark1: #e1e2e2;
  --whiteDark2: #c7c8c8;
  --whiteDark3: #adaeae;
  --whiteDark4: #939494;
  --whiteDark5: #797a7a;
  --whiteDark6: #5f6060;
  --greenDark1: #1a773f;
  --greenDark2: #166a35;
  --greenDark3: #125d2b;
  --greenDark4: #0e5021;
  --greenDark5: #0a4317;
  --greenDark6: #06360d;
  --blueDark1: #2979ad;
  --blueDark2: #246c99;
  --blueDark3: #1f5f85;
  --blueDark4: #1a5271;
  --blueDark5: #14455d;
  --blueDark6: #0f3849;
  --brownDark1: #792f00;
  --brownDark2: #6b2800;
  --brownDark3: #5d2100;
  --brownDark4: #4f1a00;
  --brownDark5: #411300;
  --brownDark6: #330c00;
}

/* LIGHT */

:root {
  --primary: #971737;
  --secondary: #d3ebff;
  --info: #3d9ff5;
  --warning: #f80;
  --success: #54b946;
  --error: #f65555;
  --redLight1: #ea5e51;
  --redLight2: #ed7066;
  --redLight3: #f0817b;
  --redLight4: #f39390;
  --redLight5: #f6a4a5;
  --redLight6: #f9b6ba;
  --yellowLight1: #f3ca1f;
  --yellowLight2: #f5d030;
  --yellowLight3: #f7d641;
  --yellowLight4: #f9dd52;
  --yellowLight5: #fbe363;
  --yellowLight6: #fdea74;
  --orangeLight1: #f4a523;
  --orangeLight2: #f6af34;
  --orangeLight3: #f7b945;
  --orangeLight4: #f9c456;
  --orangeLight5: #fbcf67;
  --orangeLight6: #fedb78;
  --purpleLight1: #9258a9;
  --purpleLight2: #9c63b2;
  --purpleLight3: #a66ebb;
  --purpleLight4: #b079c4;
  --purpleLight5: #ba84cd;
  --purpleLight6: #c48fd6;
  --greyLight1: #989aa1;
  --greyLight2: #a0a2ab;
  --greyLight3: #a8aab5;
  --greyLight4: #b0b2bf;
  --greyLight5: #b8bac9;
  --greyLight6: #c0c2d3;
  --blackLight1: #2d3a40;
  --blackLight2: #3e4c4d;
  --blackLight3: #4f5e5a;
  --blackLight4: #607067;
  --blackLight5: #718274;
  --blackLight6: #829481;
  --whiteLight1: #fcfdfd;
  --whiteLight2: #fdfdfd;
  --whiteLight3: #fefefe;
  --whiteLight4: #ffffff;
  --whiteLight5: #ffffff;
  --whiteLight6: #ffffff;
  --greenLight1: #299055;
  --greenLight2: #34a161;
  --greenLight3: #3fb26d;
  --greenLight4: #4ac379;
  --greenLight5: #55d485;
  --greenLight6: #60e591;
  --blueLight1: #3994ca;
  --blueLight2: #44a2d3;
  --blueLight3: #4fb0dc;
  --blueLight4: #5abee5;
  --blueLight5: #65ccee;
  --blueLight6: #70daf7;
  --brownLight1: #953e10;
  --brownLight2: #a34620;
  --brownLight3: #b14e30;
  --brownLight4: #bf5640;
  --brownLight5: #cd5e50;
  --brownLight6: #db6660;
}
